<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>placeholder</key>
		<string>请输入真实姓名</string>
		<key>nameLabel</key>
		<string>真实姓名</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请输入身份证号</string>
		<key>nameLabel</key>
		<string>身份证号</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请输入医院名称</string>
		<key>nameLabel</key>
		<string>医院名称</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请点击选择</string>
		<key>nameLabel</key>
		<string>医院地区</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请输入医院地址</string>
		<key>nameLabel</key>
		<string>医院地址</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请点击选择</string>
		<key>nameLabel</key>
		<string>医院等级</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请点击选择</string>
		<key>nameLabel</key>
		<string>选择科室</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请点击选择</string>
		<key>nameLabel</key>
		<string>临床职称</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请输入擅长疾病</string>
		<key>nameLabel</key>
		<string>擅长疾病</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请输入职业号</string>
		<key>nameLabel</key>
		<string>职业号</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请输入手机号</string>
		<key>nameLabel</key>
		<string>手机号</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请输入个人简介信息</string>
		<key>nameLabel</key>
		<string>个人简介</string>
	</dict>
</array>
</plist>
